@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-ibm;
  @apply mx-4;

  a {
    @apply font-poppins;
  }
  a:hover {
    @apply underline;
  }

  #home-banner {
    background-image: url(./imgs/banner.webp);
    @apply object-cover;
  }

  #contact-banner {
    background-image: url(./imgs/contact.webp);
    @apply bg-cover;
    @apply bg-center;
    @apply object-cover;
  }

  .brand-logo {
    text-decoration: none !important;
  }

  form {
    .btns {
      @apply bg-gray-600;
      @apply text-white;
      @apply font-bold;
      @apply py-2;
      @apply px-4;
      @apply rounded;
      @apply outline-none;
    }
    .btns:hover,
    .btns:focus {
      @apply bg-gray-700;
    }

    .inputs {
      @apply appearance-none;
      @apply border;
      @apply rounded;
      @apply w-full;
      @apply py-2;
      @apply px-3;
      @apply text-gray-700;
      @apply leading-tight;
      @apply outline-none;
    }
    .inputs:focus {
      @apply border-gray-700;
    }
  }
}
